<a href="https://colab.research.google.com/github/NICOLASLONDONO5/intro_python_202320/blob/main/introduction_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion a python
## Curso de programacion y algoritmia UPB 202320
- Nombre: Nicolas Londoño Calle
- ID: 501355
- Email: nicolas.londonoc@upb.edu.co

Esta es la expresion de la linea recta:
$$y = mx + b$$
donde $x$ es la posición.

In [ ]:
# Comentarios

In [ ]:
# Mis primeras lineas de codigo en python
name = "Nicolas"
print("Hello,", name)

Hello, Nicolas

In [ ]:
# frase
firstname = "Nicolas"
lastname = "Londoño Calle"
age = "18"
city = "Monteria"
food = "Salchipapa"
print("mi nobre es", firstname, lastname, "y tengo", age, "años", "vivo en", city, "y me gusta", food)

mi nobre es Nicolas Londoño Calle y tengo 18 años vivo en Monteria y me gusta Salchipapa

In [5]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c += 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
5.3

In [6]:
m = 5
b = 2
x = -3
y = m * x + b
print(y)
x = -2
y = m * x + b
print(y)
x = -1
y = m * x + b
print(y)
x = 0
y = m * x + b
print(y)
x = 1
y = m * x + b
print(y)
x = 2
y = m * x + b
print(y)
x = 3
y = m * x + b
print(y)

-13
-8
-3
2
7
12
17

In [10]:
a = 1
b = 2
c = -8

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print(" x_p: " , x_p)
print(" x_n:" , x_n)

a = -3
b = 1
c = 10

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print(" x_p: " , x_p)
print(" x_n:" , x_n)

a = 0.1
b = -2
c = 0.5

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print(" x_p: " , x_p)
print(" x_n:" , x_n)

 x_p:  2.0
 x_n: -4.0
 x_p:  -1.6666666666666667
 x_n: 2.0
 x_p:  19.74679434480896
 x_n: 0.25320565519103666

In [11]:
firstname = "Nicolas"
lastname = "Londoño"
fullname = firstname + " " + lastname
print(fullname)

Nicolas Londoño

In [31]:
song  = """Un elefante se balanceaba
sobre la tela de una araña
como veia que no resistia
se fue a buscar otra... oooooo
fin.

print(song)

SyntaxError: ignored